#--------------------------------------------------------------------
# BEYANNAME TAKIP - ORNEK ORTAM DOSYASI
# Bu dosyayi ".env" adiyla kopyalayin ve kendi bilgilerinizi girin.
#--------------------------------------------------------------------

CI_ENVIRONMENT = production

app.baseURL = 'http://localhost:8080/'
app.indexPage = ''
app.appTimezone = 'Europe/Istanbul'

database.default.hostname = localhost
database.default.database = beyanname_takip
database.default.username = root
database.default.password = ''
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_unicode_ci

encryption.key =
